@import "reset";
@import "variable";
@import "mixins";

h1{
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	font-weight: lighter;
	span{
		color: $deepBlue;
	}
}
article{
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	padding: 10px;
	p{
		margin: 20px auto;
		max-width: 800px;
		line-height: 28px;
	    text-align: justify;
	    font-size: 18px;
	    color: #000000;
	}

}

//LOGO
.logo{
	position: absolute;
	margin: 20px;
	width: 80px;
	height: 80px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
}

.logo-name{
	position: absolute;
	top:50px;
	left: 120px;
	font-size: 20px;
	font-family: 'Neuton', serif;
    font-weight: lighter;
    color: #021e2f;
    line-height: 12px;
}

//NAVIGATION	top": "20px"
.navbar{
	position: absolute;
	margin: 0 auto;
	width: 100%;
	z-index: 10;
	ul{
		position: relative;
		top: 50px;
		font-size: 20px;
		float: right;
		display: flex;
		a{
			float: right;
			margin-left:30px;
			color: $grey;
			&:last-child{
			margin-right: 30px;
			}
		}
	}
}
//NAVIGATION - FIXED TO TOP
.navbar-fixed{
	position: fixed;
	top: 0;
	left: 0;
}
.nav-fixed{
	background:rgba(23, 22, 26, 0.95);
	min-height: 67px;
	transition: .5s background linear;
	.logo{
		display: none;
	}
	.logo-name{
		left: 20px;
		top: 13px!important;
		padding: 10px;
		border: 1px solid #828283;
		font-family: 'Neuton', serif;
		font-weight: lighter;
		line-height: 20px;
	}
	a{
		color: #ffffff!important;
		
	}
	ul{
		line-height: 32px!important;
	}
}
.position-fixed{
	top: 20px!important;
	
}

//START PAGE
.starting-page{
	background: url(../img/background-first.jpg) bottom no-repeat;
	background-size: cover;
	height: 100vh;
	z-index: 10;
	&:after{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.2);
		z-index: 5;
	}
	.heading{
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	font-size: 2em;
	z-index: 10;
	text-align: center;
    width: 80%;
	}
}

.back2{
	background: url(../img/3in1v2.png) top no-repeat;
	background-size: cover;

}

//CONTENT PAGE (SITE 2 & 3)
.content-page{
	article{		
		position: relative;
		min-height: 100vh;
		top: 450px;
	}

	//PROJECT PAGE
	.page-middle{
	min-height: 100vh;
	padding-top: 300px;
	h1{
			color: #ffffff;
		}
	}

	.flex-container{
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-flex-pack: center;
    @include clearFix;	
	}

	.flex-item {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin: 61px 15px 30px 15px;
    line-height: 150px;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
	}
}
//TRANSITION SECTION
.transition{
	width:100%;
	height: 10vh;
	background-color:#002a76;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#002a76, endColorstr=#012476);
	background-image:-moz-linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:-webkit-linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:-ms-linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:-o-linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#002a76), color-stop(100%,#012476));
}

//FOOTER WITH CONTACT
.contact{
	@include clearFix;	
	@-webkit-keyframes myfirst{
	  0% {margin-left: -235px}
	  90% {margin-left: 100%;}
	  100% {margin-left: 100%;}
	}
	@keyframes myfirst{
	  0% {margin-left: -235px}
	  70% {margin-left: 100%;}
	  100% {margin-left: 100%;}
	}
	.fish{
	  background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
	  width: 235px;
	  height: 104px;
	  margin-left: -235px;
	  position: relative; 
	  animation: myfirst 24s;
	  -webkit-animation: myfirst 24s;
	  animation-iteration-count: infinite;
	  -webkit-animation-iteration-count: infinite;
	  animation-timing-function: linear;
	  -webkit-animation-timing-function: linear;
	}
	#fish{
	  top: 120px;
	}
	#fish2{
	  top: 260px;
	  animation-delay: 12s;
	  -webkit-animation-delay: 12s;
	}
	#form{
		min-height:100vh;
	  height: 100%; 
	  background-image: transparent;
	  overflow: hidden;
	  position: relative;
	  margin-bottom: 150px;  
	}
	form{
	  margin: -230px auto 0 auto;
	  width: 500px;
	  padding-top: 40px;
	  color: white;
	  position: relative;	  
	}
	label, input, textarea{
	  display: block; 
	}
	input, textarea{
	  background-color: transparent;
	  width: 500px; 
	  border: none;
	  border-radius: 20px;
	  outline: none;
	  padding: 10px;
	  font-family: 'Neuton', serif;
	  font-size: 20px;
	  color: #d3d3e2;
	  transition: border 0.5s;
	  -webkit-transition: border 0.5s;
	  -moz-transition: border 0.5s;
	  -o-transition: border 0.5s;
	  border: solid 1px #01358b;  
	  -webkit-box-sizing:border-box;
	  -moz-box-sizing:border-box;
	  box-sizing:border-box;	  
	}
	input:focus, textarea:focus{
	  border: solid 1px #77bde0;  
	}

	textarea{
	  height: 100px;  
	  resize: none; 
	  overflow: auto;
	}
	input[type="submit"]{
	  background-color: #27ae60;
	  color: white;
	  height: 50px;
	  cursor: pointer;
	  margin-top: 30px;
	  font-size: 1.29em;
	  font-family: 'Sniglet', cursive;
	  -webkit-transition: background-color 0.5s;
	  -moz-transition: background-color 0.5s;
	  -o-transition: background-color 0.5s;
	  transition: background-color 0.5s;
	}
	input[type="submit"]:hover{
	  background-color: #2ecc71;  
	}
	label{
	  font-size: 1.5em;
	  margin-top: 20px;
	  padding-left: 20px;
	}
	.formgroup, .formgroup-active, .formgroup-error{
	  background-repeat: no-repeat;
	  background-position: right bottom;
	  background-size: 10.5%;
	  transition: background-image 0.7s;
	  -webkit-transition: background-image 0.7s;
	  -moz-transition: background-image 0.7s;
	  -o-transition: background-image 0.7s;
	  width: 566px;
	  padding-top: 2px;
	}
	.formgroup{
	  background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif'); 
	}
	.formgroup-active{
	  background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
	}
	.formgroup-error{
	  background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
	  color: red;
	}		
}

//FOOTER
footer{
	position:relative;
    left:0px;
    width:100%;
    background-color:rgba(0,0,0,0.7);
    -webkit-box-shadow: 10px 0px 100px 40px rgba(0,0,0,0.8);
    -moz-box-shadow: 10px 0px 100px 40px rgba(0,0,0,0.8);
    box-shadow: 10px 0px 100px 40px rgba(0,0,0,0.8);
    .social{
    	height: 60px;
	    padding-top: 100px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
    }
    .social-icon{
    	display: flex;
		width: 164px;
		margin-right: auto;
		margin-left: auto;
	    margin-top: -70px;
	    a:nth-child(2) {
		    margin-left: 10px;
		    margin-right: 10px;
		}
		.git{
			display: block;
			height: 48px;
		    width: 48px;
			background: transparent url('../img/git.png') center top no-repeat;   
		    &:hover{
		    	background-image: url('../img/git-hover.png');
		    }
		}
		.facebook{
			display: block;
			height: 48px;
		    width: 48px;
			background: transparent url('../img/fb.png') center top no-repeat;   
		    &:hover{
		    	background-image: url('../img/fb-hover.png');	
		    }
		}
		.linkedin{
			display: block;
			height: 48px;
		    width: 48px;
			background: transparent url('../img/in.png') center top no-repeat;   
		    &:hover{
		    	background-image: url('../img/in-hover.png');	
		    }
		}
		.icon-transition{
			-o-transition:color .2s ease-out, background 0.2s ease-in;
			-ms-transition:color .2s ease-out, background 0.2s ease-in;
			-moz-transition:color .2s ease-out, background 0.2s ease-in;
			-webkit-transition:color .2s ease-out, background 0.2s ease-in;
			transition:color .2s ease-out, background 0.2s ease-in;
		}
	}
}



