/*reset*/
html, body, h1, h2, h3, h4, div, p, span, figure, figcaption, nav, footer, header, ul, ol, li, a, aside, form, table, tr, th, td, thead {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*mixins*/
/* Variables */
/* Font */
.h1-section {
  font-family: "Montserrat", sans-serif;
  font-size: 41px;
  font-weight: bold;
  margin-bottom: 10px; }
  .h1-section--white {
    color: #fff; }

.h2-lecker {
  font-family: "Leckerli One", cursive;
  font-size: 33px;
  font-weight: 400;
  margin-bottom: 30px; }
  .h2-lecker--white {
    color: #fff; }
  .h2-lecker--grey {
    color: #575757; }

.h2-section {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: normal; }
  .h2-section--black {
    color: #000; }
  .h2-section--white {
    color: #fff; }

.h3-section {
  font-family: "Montserrat", sans-serif;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: normal; }
  .h3-section--blog {
    padding: 20px 10px 0px 10px;
    text-align: center;
    font-weight: bold; }
  .h3-section--blog-background {
    padding: 250px 0px 0px 0px; }

.h4-section {
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  line-height: 20px;
  text-align: center;
  padding: 10px 0px; }

.h4-blog-date {
  font-size: 20px;
  font-weight: normal;
  text-align: center; }
  .h4-blog-date--blue {
    padding: 30px 0px 0px 0px; }

.p-section {
  font-size: 17px;
  line-height: 25px;
  padding: 40px 0px;
  text-align: justify; }
  .p-section--white {
    color: #fff; }
  .p-section--black {
    color: #000; }
  .p-section--services {
    padding: 20px 0px; }
  .p-section--blog {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0px 20px;
    text-align: center; }
  .p-section--address-title {
    font-size: 20px;
    font-weight: bold;
    padding: 0px;
    text-align: left; }
  .p-section--address {
    font-size: 15px;
    padding: 0px; }
  .p-section--autor {
    text-align: center;
    padding: 50px 0px 10px 0px; }
  .p-section--codeby {
    text-align: center;
    padding: 0; }
  .p-section--date {
    text-align: center;
    padding: 20px 0px; }

/* grid and modifiers */
.wrapper {
  padding: 0px 20px;
  max-width: 1200px;
  margin: 0 auto; }

.blue-span {
  color: #0081ff; }

.left {
  text-align: left !important; }

.center {
  text-align: center !important; }

/* Font RWD */
@media (min-width: 1000px) {
  .p-section--services {
    margin: 0px 0px 0px 102px; } }

/*buttons*/
@media (min-width: 220px) {
  .button {
    padding: 15px 30px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    border: 1px solid transparent; }
    .button--blue {
      background-color: #00aeed; }
      .button--blue:hover {
        background-color: #009bd4; }
      .button--blue:active {
        background-color: #0076a1;
        border: 1px solid #000; }
    .button--purple {
      background-color: #3b4374; }
      .button--purple:hover {
        background-color: #323963; }
      .button--purple:active {
        background-color: #212641;
        border: 1px solid #000; }
    .button--submit {
      font-family: "Lato", sans-serif;
      display: block;
      outline: 0;
      width: 200px;
      background-color: #2E7D32;
      cursor: pointer; }
      .button--submit:hover {
        background-color: #276a2b; }
      .button--submit:active {
        background-color: #19451c;
        border: 1px solid #000; } }

@media (min-width: 780px) {
  .button--submit {
    margin: 0px 0px 0px 100px; } }

/*navigation*/
.topnav {
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10; }
  .topnav__list {
    list-style-type: none;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px 20px;
    overflow: hidden;
    text-align: right; }
  .topnav__item {
    display: inline;
    font-weight: bold;
    text-transform: uppercase; }
    .topnav__item:not(:first-child) {
      padding-top: 15px; }
    .topnav__item a {
      display: inline-block;
      color: #fff;
      padding: 16px 5px;
      text-decoration: none;
      transition: 0.3s;
      font-size: 15px;
      margin-top: 16px;
      border: 7px solid transparent; }
      .topnav__item a:hover {
        border-top: 7px solid #0081ff; }
  .topnav__logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: bold;
    padding: 27px 0px;
    float: left; }
    .topnav__logo a {
      text-decoration: none;
      color: #fff; }
  .topnav__icon {
    display: none; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.active {
  border-top: 7px solid #0081ff !important; }

@media (max-width: 1000px) {
  .active {
    border-top: 7px solid #0081ff !important;
    border-bottom: 7px solid #0081ff !important; }
  .topnav {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9); }
    .topnav__list {
      padding: 0px 10px; }
    .topnav__item:not(:first-child) {
      display: none; }
    .topnav__item a:hover {
      border-top: 7px solid #0081ff;
      border-bottom: 7px solid #0081ff; }
    .topnav__item--last a {
      margin-bottom: 16px; }
    .topnav__item--first a {
      margin-top: 70px; }
    .topnav__icon {
      float: right;
      display: inline-block; }
    .topnav__logo {
      font-family: 'Montserrat', sans-serif;
      font-size: 30px;
      font-weight: bold; }
      .topnav__logo a {
        text-decoration: none;
        color: #fff; }
  .responsive {
    background-color: rgba(0, 0, 0, 0.95);
    box-shadow: 0px 0px 50px 30px #000; }
    .responsive .btn-hamburger {
      position: absolute;
      top: 27px;
      right: 20px;
      width: 30px;
      padding: 0;
      background-color: transparent; }
      .responsive .btn-hamburger__line {
        display: block;
        background-color: #5d5d5d;
        width: 30px;
        height: 3px;
        margin: 5px auto;
        border-radius: 5px; }
    .responsive .topnav__item {
      float: none;
      display: inline; }
      .responsive .topnav__item a {
        padding: 10px 5px;
        text-align: center;
        display: block; }
  .btn-hamburger {
    position: absolute;
    top: 27px;
    right: 20px;
    width: 30px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: 0;
    cursor: pointer; }
    .btn-hamburger__line {
      display: block;
      background-color: #0081ff;
      width: 30px;
      height: 3px;
      margin: 5px auto;
      border-radius: 5px; } }

/*header*/
@media (min-width: 220px) {
  body {
    font-family: "Lato", sans-serif;
    color: #fff; }
  header {
    background: url("../img/background.png") center no-repeat fixed;
    background-size: cover;
    min-height: 80vh;
    padding: 0px 0px 50px 0px; }
    header:after {
      content: "";
      display: table;
      clear: both; }
  section {
    padding: 100px 0px 50px 0px; }
  .jumbotron {
    max-width: 570px;
    padding: 140px 0px 0px 0px; }
  .model {
    display: none; } }

@media (min-width: 1000px) {
  header {
    min-height: 100vh; }
  .jumbotron {
    width: 50%;
    float: left;
    min-height: 600px;
    padding: 250px 0px 0px 0px; }
  .model {
    display: block;
    width: 50%;
    float: left;
    padding: 150px 50px 50px 50px;
    box-sizing: border-box; }
    .model__img {
      width: 114%; } }

@media (min-width: 1300px) {
  .jumbotron {
    width: 45%; } }

/*about*/
@media (min-width: 220px) {
  .about {
    background-color: #0081ff; }
  .article-two-columns__first-column {
    padding: 40px 0px 0px 0px; } }

@media (min-width: 780px) {
  .article-two-columns {
    padding: 40px 0px 100px 0px; }
    .article-two-columns:after {
      content: "";
      display: table;
      clear: both; }
    .article-two-columns__first-column {
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding: 20px 20px 0px 0px; }
    .article-two-columns__second-column {
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding: 20px 0px 0px 20px; } }

@media (min-width: 1000px) {
  .about {
    margin-top: -145px; } }

@media (min-width: 1300px) {
  .about {
    margin-top: -200px; } }

/*services*/
@media (min-width: 220px) {
  .services {
    background-color: #007af3; }
    .services__box {
      box-sizing: border-box;
      max-width: 500px;
      margin: 30px auto; }
    .services__image {
      padding: 25px;
      width: 50px;
      display: block;
      margin: 0 auto; } }

@media (min-width: 1000px) {
  .services:after {
    content: "";
    display: table;
    clear: both; }
  .services__box {
    float: left;
    max-width: auto;
    width: 33%;
    padding: 20px; }
  .services__image {
    float: left;
    padding: 25px;
    margin-top: -20px; }
    .services__image--item-eye {
      margin-top: -10px; } }

/*profile*/
@media (min-width: 220px) {
  .profile {
    padding: 100px 0px 0px 0px; }
    .profile__lightbox {
      max-width: 450px;
      margin: 40px auto 2px auto;
      padding: 0px 10px; }
    .profile__box--image {
      display: block;
      max-width: 100%;
      min-width: 100%;
      margin-bottom: -2px; }
    .profile__box-content {
      position: relative; }
    .profile__hover {
      position: absolute;
      background-color: rgba(41, 138, 235, 0.9);
      background-image: url("../img/search.png");
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease-in-out; }
      .profile__hover:hover {
        opacity: 1; }
      .profile__hover--lightbox {
        display: block;
        width: 100%;
        height: 100%; } }

@media (min-width: 780px) {
  .profile__lightbox {
    max-width: 1600px;
    margin: 60px auto 0px auto; }
    .profile__lightbox:after {
      content: "";
      display: table;
      clear: both; }
  .profile__box {
    width: 50%;
    float: left; }
    .profile__box--image {
      min-width: auto;
      margin: 0; }
    .profile__box--image-big {
      width: 100%; }
    .profile__box--image-small {
      width: 100%; }
  .profile__box-content {
    position: relative;
    float: left; }
    .profile__box-content--small {
      width: 50%; } }

/*client*/
@media (min-width: 220px) {
  .client {
    background: url("../img/blog.png") center no-repeat fixed;
    background-size: cover; }
  .contractor__logo--img {
    max-width: 100%;
    display: block;
    margin: 50px auto; }
  .contractor__logo--img-first {
    margin: 0 auto; } }

@media (min-width: 1000px) {
  .contractor:after {
    content: "";
    display: table;
    clear: both; }
  .contractor__logo {
    box-sizing: border-box;
    float: left;
    width: 25%;
    padding: 15px; }
    .contractor__logo--img-first {
      margin: 50px auto; } }

/*blog*/
@media (min-width: 220px) {
  .blog {
    padding: 100px 0px 0px 0px;
    max-width: 1200px;
    margin: 0 auto; }
  .cards:after {
    content: "";
    display: table;
    clear: both; }
  .cards__prelude {
    margin: 10px; }
    .cards__prelude--blue {
      background-color: #007ef9;
      color: #fff;
      min-height: 130px;
      padding: 50px;
      margin: 0px;
      transition: 0.2s ease-in-out;
      cursor: pointer; }
      .cards__prelude--blue:hover {
        background-color: #0064c6;
        -ms-transform: rotate(2deg);
            transform: rotate(2deg);
        -webkit-filter: drop-shadow(8px 8px 10px #000);
                filter: drop-shadow(8px 8px 10px #000); }
  .cards__articles {
    margin: 10px;
    cursor: pointer; }
    .cards__articles--little-panel {
      margin: 10px; }
    .cards__articles--big-panel {
      margin: 10px; }
    .cards__articles--grey {
      background-color: #eaeaea;
      color: #353535;
      min-height: 130px;
      padding: 50px 0px;
      transition: 0.2s ease-in-out; }
      .cards__articles--grey:hover {
        background-color: #d1d1d1;
        -ms-transform: rotate(2deg);
            transform: rotate(2deg);
        -webkit-filter: drop-shadow(8px 8px 10px #000);
                filter: drop-shadow(8px 8px 10px #000); }
    .cards__articles--black {
      background-color: #000;
      color: #fff;
      min-height: 130px;
      padding: 50px 0px;
      transition: 0.2s ease-in-out; }
      .cards__articles--black:hover {
        background-color: black;
        -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
        -webkit-filter: drop-shadow(8px 8px 10px #000);
                filter: drop-shadow(8px 8px 10px #000); }
    .cards__articles--background {
      background-image: url("../img/blog-4.png");
      min-height: 367px;
      color: #fff;
      padding: 50px 0px;
      transition: 0.2s ease-in-out; }
      .cards__articles--background:hover {
        -ms-transform: rotate(-2deg);
            transform: rotate(-2deg);
        -webkit-filter: drop-shadow(8px 8px 10px #000);
                filter: drop-shadow(8px 8px 10px #000); }
    .cards__articles--pink {
      background-color: #e91d62;
      color: #fff;
      min-height: 170px;
      padding: 30px;
      transition: 0.2s ease-in-out; }
      .cards__articles--pink:hover {
        -ms-transform: rotate(2deg);
            transform: rotate(2deg);
        -webkit-filter: drop-shadow(8px 8px 10px #000);
                filter: drop-shadow(8px 8px 10px #000); } }

@media (min-width: 780px) {
  .blog {
    padding: 100px 0px 20px 0px; }
  .cards {
    padding: 0px 20px 0px 0px; }
    .cards__box {
      display: -ms-flexbox;
      display: flex; }
      .cards__box--two {
        width: 50%;
        float: left; }
    .cards__prelude {
      width: 50%;
      margin: 20px 0px 20px 20px; }
    .cards__articles {
      width: 50%;
      margin: 20px 0px 20px 20px; }
      .cards__articles--little-panel {
        width: calc(50% - 20px);
        margin: 0px 0px 0px 20px; }
      .cards__articles--big-panel {
        width: 100%;
        margin: 0px 0px 0px 20px; } }

/*contact*/
@media (min-width: 220px) {
  .footer {
    background: url("../img/contact-background.png") no-repeat center center fixed;
    background-size: cover; }
  .contact {
    padding: 100px 20px 50px 20px;
    max-width: 1200px;
    margin: 0 auto; }
  .contact-address {
    padding: 0px 0px 100px 0px; }
    .contact-address__item {
      margin-bottom: 100px; }
      .contact-address__item--first {
        margin-top: 70px; }
      .contact-address__item--last {
        margin-bottom: 20px; }
    .contact-address__img {
      float: left;
      margin: 0px 20px 50px 0px;
      width: 30px; }
    .contact-address__img-mobile {
      float: left;
      margin: 0px 26px 50px 4px;
      width: 20px; }
  .contact-email__form {
    padding: 50px 0px 0px 0px; }
    .contact-email__form--label {
      margin-left: 5px; }
    .contact-email__form--input {
      font-family: "Lato", sans-serif;
      border: 1px solid #2b2b2b;
      padding: 10px;
      border-radius: 15px;
      margin: 5px auto 20px auto;
      background-color: #2b2b2b;
      color: #fff;
      outline: 0;
      width: calc(100% - 20px); }
      .contact-email__form--input:focus {
        border: 1px solid #00aeed; }
    .contact-email__form--textarea {
      font-family: "Lato", sans-serif;
      resize: none; }
  .social {
    width: 250px;
    margin: 0 auto;
    text-align: center; }
    .social__item {
      border-radius: 50px;
      margin: 10px;
      cursor: pointer; }
      .social__item--fb:hover {
        background-color: #3B5998; }
      .social__item--google:hover {
        background-color: #d34836; }
      .social__item--vk:hover {
        background-color: #45668e; }
      .social__item--yt:hover {
        background-color: #cc181e; }
      .social__item--linkedin:hover {
        background-color: #0077b5; }
      .social__item--zz:hover {
        background-color: #003e54; }
  .copyright {
    padding: 20px 0px 20px 0px;
    text-align: center; } }

@media (min-width: 350px) {
  .contact-address__img {
    width: auto;
    float: left;
    margin-right: 55px; }
  .contact-address__img-mobile {
    width: auto;
    margin-left: 8px;
    margin-right: 63px; } }

@media (min-width: 780px) {
  .contact {
    padding: 100px 20px; }
    .contact:after {
      content: "";
      display: table;
      clear: both; }
  .contact-address, .contact-email {
    width: 50%;
    float: left;
    box-sizing: border-box; }
  .contact-email {
    margin-top: 63px;
    padding: 0px 10px; }
    .contact-email__form--label {
      float: left;
      width: 100px;
      margin: 20px 0px 0px 0px; }
    .contact-email__form--input {
      width: 60%;
      max-width: 360px;
      padding: 15px; }
  .social {
    width: auto; } }

@media (min-width: 1200px) {
  .contact-email__form--input {
    width: 62%; } }