body {
  background: url("../img/background.png") no-repeat center;
  background-size: cover;
  margin: 0;
  color: #afafaf;
  font-family: 'Titillium Web';
}

h2 {
  font-family: "Myriad Pro";
  font-size: 32px;
  color: #ffffff;
  text-align: center;
  font-weight: normal;
  text-shadow: 2px 2px #3e0b11;
}

.container {
  width: 900px;
  margin: 0 auto;
}

header .logo {
  padding: 50px 0px 25px 0px;
  opacity: 0.4;
  text-align: center;
}

main .left-side {
  float: left;
  margin-bottom: 100px;
}

main .right-side {
  float: right;
}

main form {
  background-color: #f4f4f4;
  width: 380px;
  margin-top: 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 15px solid rgba(0, 0, 0, 0.4);
  background-clip: padding-box;
}

main form:after {
  content: '';
  clear: both;
  display: block;
}

main form .div-input {
  background-color: #ffffff;
  display: block;
  width: 340px;
  height: 40px;
  margin: 15px auto;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  cursor: text;
  padding: 0px;
}

main form .div-input i {
  float: left;
  font-size: 20px;
  padding: 5px;
}

main form .div-input input, main form .div-input select {
  width: calc(100% - 56px);
  margin: 4px auto 0px 38px;
  border: none;
  outline: none;
  font-size: 16px;
  padding-left: 15px;
  border-left: 1px solid #c6c6c6;
  border-radius: 0px 5px 5px 0px;
  height: 33px;
}

main form .focused {
  border: 1px solid green;
}

main form input, main form select {
  display: block;
  width: 340px;
  height: 40px;
  margin: 15px auto;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  cursor: text;
  padding: 0px;
}

main form input[type="checkbox"] {
  display: none;
}

main form input[type="submit"] {
  color: #ffffff;
  font-family: 'Titillium Web';
  font-size: 18px;
  border: 1px solid #3b9a00;
  outline: none;
  padding: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a3d840+0,7ec31f+100 */
  background: #a3d840;
  /* Old browsers */
  background: -moz-linear-gradient(top, #a3d840 0%, #7ec31f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #a3d840 0%, #7ec31f 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #a3d840 0%, #7ec31f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3d840', endColorstr='#7ec31f',GradientType=0 );
  /* IE6-9 */
  cursor: pointer;
}

main form input[type="submit"]:focus, main form input[type="submit"]:active, main form input[type="submit"]:hover {
  border: 1px solid #7ec31f;
  background: #7ec31f;
  /* Old browsers */
}

main form textarea {
  font-family: 'Titillium Web';
  font-size: 18px;
  display: block;
  min-width: 300px;
  height: 230px;
  padding: 20px;
  margin: 0 auto 15px auto;
  border: 1px solid #c6c6c6;
  resize: none;
  overflow: hidden;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

main form textarea:focus {
  border: 1px solid green;
}

main form .checkbox {
  display: block;
  line-height: 22px;
}

main form .checkbox span {
  float: left;
  margin: 0px 21px 0px 21px;
  width: 24px;
  height: 24px;
  background: url("../img/unchecked.png") center no-repeat;
}

main form .checkbox input:checked + span {
  background: url("../img/checked.png") center no-repeat;
}

main form .remember {
  width: 50%;
  margin-top: 8px;
  float: left;
}

main form .sign-in {
  width: 140px;
  margin: 0 20px 15px 0;
  float: right;
}

main form .send, main form .subscribe {
  float: left;
  width: 140px;
  margin: 0 0 15px 20px;
}

main form .done, main form .thanks {
  float: right;
  width: 140px;
  margin: 0 20px 15px 0;
  opacity: 0.6;
  cursor: pointer;
}

main form .thanks {
  color: #ffffff;
  font-family: 'Titillium Web';
  font-size: 18px;
  border: 1px solid #3b9a00;
  outline: none;
  padding: 0;
  background: #f55d6e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f55d6e 0%, #f03948 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f55d6e 0%, #f03948 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f55d6e 0%, #f03948 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f55d6e', endColorstr='#f03948',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #a2202a;
}

main .logo-footer {
  margin: 70px 0px 0px 30px;
  opacity: 0.3;
}

@media only screen and (max-width: 915px) {
  .container {
    width: 380px;
    margin: 0 auto;
  }
  header {
    width: 100%;
  }
  header img {
    width: 90%;
    margin: 0px 10px;
  }
  main .left-side {
    float: left;
    margin-bottom: 0px;
  }
  main .right-side {
    float: left;
  }
}

@media only screen and (max-width: 570px) {
  body {
    font-size: 15px;
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  main .left-side, main .right-side, main form {
    margin: 0 auto;
    width: calc(100% - 15px);
  }
  main form .div-input {
    width: 80%;
  }
  main form input, main form select {
    width: 80%;
  }
  main form textarea {
    min-width: 80%;
  }
  main form .checkbox, main form .remember {
    width: 80%;
    margin: 0 auto;
    float: none;
  }
  main form .checkbox span, main form .remember span {
    margin: 0 10px 0 0;
  }
  main form .remember {
    margin: 15px auto;
  }
  main form .two-buttons-in-row {
    width: 80%;
    margin: 0 auto 15px auto;
    display: table;
  }
  main form .send, main form .subscribe {
    width: 45%;
    float: left;
    margin: 0;
  }
  main form .done, main form .thanks {
    width: 45%;
    float: right;
    margin: 0;
  }
  main form .sign-in {
    float: none;
    width: 80%;
    margin: 0px auto 15px auto;
  }
  main .logo-footer {
    margin: 50px 10px;
  }
  main .logo-footer img {
    width: 100%;
  }
}

@media only screen and (max-width: 398px) {
  main form .long-description {
    text-indent: 35px;
  }
  main form .long-description span {
    margin: -12px 10px 0px 0px;
  }
}
