@import "reset";
@import "variable";
@import "mixins";

h1{
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	font-weight: lighter;
	span{
		color: $deepBlue;
	}
}
article{
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	padding: 10px;
	p{
		margin: 20px auto;
		max-width: 800px;
		line-height: 28px;
	    text-align: justify;
	    font-size: 18px;
	    color: #000000;
	}

}

//LOGO
.logo{
	position: absolute;
	margin: 20px;
	width: 80px;
	height: 80px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);	
    border-radius: 50px;
}

.logo-name{
	position: absolute;
	top:50px;
	left: 120px;
	font-size: 20px;
	font-family: 'Neuton', serif;
    font-weight: lighter;
    color: #021e2f;
    line-height: 12px;
}

//NAVIGATION	top": "20px"
.navbar{
	position: absolute;
	margin: 0 auto;
	display: block;
	width: 100%;
	z-index: 10;
	ul{
		position: relative;
		top: 50px;
		font-size: 20px;
		float: right;
		display: flex;
		a{
			float: right;
			margin-left:30px;
			color: $grey;
			&:last-child{
			margin-right: 30px;
			}
		}
	}
}
//NAVIGATION - FIXED TO TOP
.navbar-fixed{
	position: fixed;
	top: 0;
	left: 0;
}
.nav-fixed{
	background:rgba(23, 22, 26, 0.95);
	min-height: 67px;
	transition: .5s background linear;
	.logo{
		display: none;
	}
	.logo-name{
		left: 20px;
		top: 13px!important;
		padding: 10px;
		border: 1px solid #828283;
		border-radius: 50px;
		font-family: 'Neuton', serif;
		font-weight: lighter;
		line-height: 20px;
		&:hover{
			border: 1px solid #049bf6;
        -webkit-transition: border-color 1s ease;
         -moz-transition: border-color 1s ease;
           -o-transition: border-color 1s ease;
          -ms-transition: border-color 1s ease;
              transition: border-color 1s ease; 
		}
	}
	a{
		color: #ffffff!important;
			
	}

	ul{
		line-height: 32px!important;
	}
}
.position-fixed{
	top: 20px!important;
	
}

//START PAGE
.starting-page{
	background: url(../img/background-first.jpg) bottom no-repeat;
	background-size: cover;
	height: 100vh;
	z-index: 10;
	&:after{
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0, 0, 0, 0.2);
		z-index: 5;
	}
	.heading{
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	font-size: 2em;
	z-index: 10;
	text-align: center;
    width: 80%;
	}
}

main{
	background: url(../img/3in1v2.png) top no-repeat;
	background-size: cover;

}

//CONTENT PAGE (SITE 2 & 3)
.content-page{
	min-height: 100vh;
	article{
		position: relative;
		top: 380px;
		margin: 0 auto;
	}
	.skills{
		position: relative;
		width: 100%;
	    top: 390px;
	    margin-right: auto;
	    margin-left: auto;
		ul{
	    list-style: none;
	    margin-right: auto;
	    margin-left: auto;
	    text-align: center;
		    li{
		    	border-radius: 50px;
			    background-color: rgba(220, 220, 220, 0.3);
			    position: relative;
			    top: 20px;
			    display: inline-block;
			    list-style: none;
			    padding: 20px;
			    margin-left: 20px;
			    filter:grayscale(50%);
			    &:hover{
			    	filter:grayscale(0%);
			    	background-color: rgba(220, 220, 220, 0.8);
			    }
			    &:hover:before{
					content:attr(data-tooltip);
					width:100%;
					font-size: 15px;
					line-height:1.5em;
					padding:15px;
					border-radius: 80px;
					background-color: rgba(220, 220, 220, 0.8);
					position:absolute;
					top: 94px;
   					left: -17px;
					
			    }
		    }
		}	
	}
}

//PROJECT PAGE
.page-middle{
	min-height: 100vh;
	h1{
		color: #ffffff;
	}

	.flex-container{
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		justify-content: center;
		@include clearFix;	
		.flex-item {
		    padding: 5px;
		    width: 200px;
		    height: 200px;
		    margin: 60px 35px 30px 35px;
		    line-height: 150px;
		    font-weight: lighter;
		    font-size: 30px;
		    text-align: center;
		    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
		    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
		    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
		    border-radius: 180px;
		    img{
				border-radius: 180px;
				width: 100%;
				height: 100%;
			}
		}

				
		
		
		.item-tech{
			line-height: 30px;
			display: none;	    
			background-color: rgba(0,0,0,0.8);
		    color: #fff;
		    padding: 20px;
		    width: 300px;
		    position: relative;
		    top: -46px;
		    left: -67px;
		    border-radius: 40px;
		    z-index: 20;
		}
	}

}
//TRANSITION SECTION
.transition{
	width:100%;
	height: 10vh;
	background-color:#002a76;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#002a76, endColorstr=#012476);
	background-image:-moz-linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:-webkit-linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:-ms-linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:-o-linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#002a76), color-stop(100%,#012476));
}

//FOOTER WITH CONTACT
.contact{
	overflow: hidden;
	@include clearFix;	
	@-webkit-keyframes myfirst{
	  0% {margin-left: -235px}
	  90% {margin-left: 100%;}
	  100% {margin-left: 100%;}
	}
	@keyframes myfirst{
	  0% {margin-left: -235px}
	  70% {margin-left: 100%;}
	  100% {margin-left: 100%;}
	}
	.fish{
	  background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
	  width: 235px;
	  height: 104px;
	  margin-left: -235px;
	  position: relative; 
	  animation: myfirst 24s;
	  -webkit-animation: myfirst 24s;
	  animation-iteration-count: infinite;
	  -webkit-animation-iteration-count: infinite;
	  animation-timing-function: linear;
	  -webkit-animation-timing-function: linear;
	}
	#fish{
	  top: 120px;
	}
	#fish2{
	  top: 260px;
	  animation-delay: 12s;
	  -webkit-animation-delay: 12s;
	}
	#form{
		min-height:100vh;
	  height: 100%; 
	  background-image: transparent;
	  position: relative;
	  margin-bottom: 150px;  
	}
	form{
	  margin: -230px auto 0 auto;
	  width: 500px;
	  padding-top: 40px;
	  color: white;
	  position: relative;	  
	}
	label, input, textarea{
	  display: block; 
	}
	input, textarea{
	  background-color: rgba(0,0,0,0.2);
	  width: 500px; 
	  border: none;
	  outline: none;
	  padding: 10px;
	  font-family: 'Neuton', serif;
	  font-size: 20px;
	  color: #d3d3e2;
	  transition: border 0.5s;
	  -webkit-transition: border 0.5s;
	  -moz-transition: border 0.5s;
	  -o-transition: border 0.5s;
	  border: solid 1px #01358b;  
	  -webkit-box-sizing:border-box;
	  -moz-box-sizing:border-box;
	  box-sizing:border-box;	  
	}
	input:focus, textarea:focus{
	  border: solid 1px #77bde0; 
	  background-color: rgba(0,0,0,0.6) 
	}

	textarea{
	  height: 100px;  
	  resize: none; 
	  overflow: auto;
	}
	input[type="submit"]{
	  background-color: #27ae60;
	  color: white;
	  height: 50px;
	  cursor: pointer;
	  margin-top: 30px;
	  font-size: 1.29em;
	  font-family: 'Sniglet', cursive;
	  -webkit-transition: background-color 0.5s;
	  -moz-transition: background-color 0.5s;
	  -o-transition: background-color 0.5s;
	  transition: background-color 0.5s;
	}
	input[type="submit"]:hover{
	  background-color: #2ecc71;  
	}
	label{
	  font-size: 1.5em;
	  margin-top: 20px;
	  padding-left: 20px;
	}
	.formgroup, .formgroup-active, .formgroup-error{
	  background-repeat: no-repeat;
	  background-position: right bottom;
	  background-size: 10.5%;
	  transition: background-image 0.7s;
	  -webkit-transition: background-image 0.7s;
	  -moz-transition: background-image 0.7s;
	  -o-transition: background-image 0.7s;
	  width: 566px;
	  padding-top: 2px;
	}
	.formgroup{
	  background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif'); 
	}
	.formgroup-active{
	  background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
	}
	.formgroup-error{
	  background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
	  color: red;
	}		
}

//FOOTER
footer{
	position:relative;
    left:0px;
    width:100%;
    background-color:rgba(0,0,0,0.7);
    -webkit-box-shadow: 10px 0px 100px 40px rgba(0,0,0,0.8);
    -moz-box-shadow: 10px 0px 100px 40px rgba(0,0,0,0.8);
    box-shadow: 10px 0px 100px 40px rgba(0,0,0,0.8);
    .social{
    	height: 60px;
	    padding-top: 100px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
    }
    .social-icon{
    	display: flex;
		width: 164px;
		margin-right: auto;
		margin-left: auto;
	    margin-top: -70px;
	    a:nth-child(2) {
		    margin-left: 10px;
		    margin-right: 10px;
		}
		.git{
			display: block;
			height: 48px;
		    width: 48px;
			background: transparent url('../img/git.png') center top no-repeat;   
		    &:hover{
		    	background-image: url('../img/git-hover.png');
		    }
		}
		.facebook{
			display: block;
			height: 48px;
		    width: 48px;
			background: transparent url('../img/fb.png') center top no-repeat;   
		    &:hover{
		    	background-image: url('../img/fb-hover.png');	
		    }
		}
		.linkedin{
			display: block;
			height: 48px;
		    width: 48px;
			background: transparent url('../img/in.png') center top no-repeat;   
		    &:hover{
		    	background-image: url('../img/in-hover.png');	
		    }
		}
		.icon-transition{
			-o-transition:color .2s ease-out, background 0.2s ease-in;
			-ms-transition:color .2s ease-out, background 0.2s ease-in;
			-moz-transition:color .2s ease-out, background 0.2s ease-in;
			-webkit-transition:color .2s ease-out, background 0.2s ease-in;
			transition:color .2s ease-out, background 0.2s ease-in;
		}
		
	}
	p{
		text-align: center;
	 	margin-top: 30px;
		color: #ffffff;
	}
}
@media (min-width: 1500px) {
	.page-middle{
		padding-top: 300px;
	} 	  	
}
@media (max-width: 1041px) {
	.h1-title{
	    border-radius: 40px;
	    background-color: rgb(21, 20, 24);
	    width: 100%;
	    padding: 20px 0px 20px 0px;
	    color: #fff;
	}
	.content-page{
		article{
			width: calc(100% - 30px);
			top: 100px;
			p{
				margin: 20px auto;	
				padding: 15px;
			    background-color: rgba(255,245,245,0.35);
    			border: 1px solid;
			}
		}
		.skills{
			top: 80px;
			h2{
				font-size: 20px;
				text-transform: uppercase;;
				text-align: center;
				border-radius: 40px;
			    background-color: rgba(0,0,0,1);
			   	width: 50%;
			    padding: 13px 0px 10px 0px;
			    margin: 50px auto 0px auto;
			    color: #fff;
			    min-width: 200px;
			    line-height: 24px;
			}
			ul{
				border: 1px solid;
				width: 600px;
				display: block;
				margin: 0 auto;
				margin: -24px auto 80px auto;
				padding: 50px 0px;
				background-color: rgba(0,0,0,0.2);

			    li{
			    	border-radius: 50px;
					display: inline-block;
					width: 200px;
					margin: 10px;

				    &:hover:before{
						content:attr(data-tooltip);
						width: calc(100% - 30px);
						height: calc(100% - 30px);
						line-height:4.5em;
						padding:15px;
						border-radius: 50px;
						background-color: rgba(0, 0, 0, 0.9);
						top: 0px;
	   					left: 0px;
	   					color: #ffffff;	
				    }
				    &:first-child{
						margin: 0px auto 10px auto;
				    	
				    }
			    }
			}	
		}
	}
	.page-middle{
		width: calc(100% - 30px);
		min-height: auto;
		margin: 200px auto 0px auto;
	}
	.contact{
		.form-container{
		    width: calc(100% - 30px);
		    margin: 0px auto 150px auto;
		}
		form{
			width: calc(100% - 30px);
			
		}
		input, form, textarea, .formgroup{
			margin: 0 auto;
		}
		input, textarea{
			border: 1px solid transparent;
		}
		input{
			height: 55px;
		}
		label{
			margin: 20px 0px 0px 14px;
		}
		
		#fish {
		    top: 30px;
		}
	}

	
}
@media(max-width: 768px){
	h1{
		font-size: 30px;
	}
	.logo{
		z-index: 30;
	}
	.logo-fixed{
		position: fixed;
	}
	.hamburger-nav{
		display:block;
	}
	#nav-icon{
	    display: block;
	    width: 40px;
	    height: 40px;
	    position: absolute;
	    top: 34px;
	    right: 43px;
	    z-index: 20;
	    -webkit-transform: rotate(0deg);
	    -moz-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    transform: rotate(0deg);
	    -webkit-transition: .5s ease-in-out;
	    -moz-transition: .5s ease-in-out;
	    -o-transition: .5s ease-in-out;
	    transition: .5s ease-in-out;
	    cursor: pointer;
		span{
			display: block;
			position: absolute;
			height: 5px;
			width: 100%;
			background: $deepBlue;
			border-radius: 9px;
			opacity: 1;
			left: 0;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .25s ease-in-out;
			-moz-transition: .25s ease-in-out;
			-o-transition: .25s ease-in-out;
			transition: .25s ease-in-out;
				&:nth-child(1){
				 	top: 0px;
				}
				&:nth-child(2){
				 	top: 12px;
				}
				&:nth-child(3){
				 	top: 24px;
				}
		}
	}
	#nav-icon.open{ 

		span{
			&:nth-child(1) {
				top: 18px;
				-webkit-transform: rotate(135deg);
				-moz-transform: rotate(135deg);
				-o-transform: rotate(135deg);
				transform: rotate(135deg);
			}
			&:nth-child(2) {
				opacity: 0;
				left: -60px;
			}
			&:nth-child(3) {
				top: 18px;
				-webkit-transform: rotate(-135deg);
				-moz-transform: rotate(-135deg);
				-o-transform: rotate(-135deg);
				transform: rotate(-135deg);
			}
		}

	}
	.nav-icon-fixed{
		position: fixed!important;
	}
	.nav-fixed{
		background: none;
	}
	.navbar{
		display: none;
		background-color: #ecf0f1;
		z-index: 20;
		    -webkit-box-shadow: 0px 0px 70px 50px rgb(236, 240, 241);
    -moz-box-shadow: 0px 0px 70px 50px rgb(236, 240, 241);
    box-shadow: 0px 0px 70px 50px rgb(236, 240, 241);
		ul{
		    margin: 50px auto;
		    width: 180px;
		    position: relative;
		    top: 0px;
		    display: block;
		    float: none;
		    li{
		    	margin-top: 30px;
		    	border-bottom: 1px solid #dcdcdc;

		    }
			a{
	    		display: block;
	    		text-align: center;
	    		float: none;
	    		margin-left: 0px;
	    		&:last-child{
	    			margin-right: 0px;
	    		}
    		}
	 	}
	}


	.page-middle{
		margin: 200px auto 0px auto;
		width: calc(100% - 30px);

		.flex-container{
			align-items: center; 
			display: -webkit-flex;
		    display: flex;
		    -webkit-flex-direction: column;
		    flex-direction: column;
		    .flex-item{
		    	border-radius: 60px;
		    	width: 50%;
		    	img{
		    		border-radius: 60px;
		    	}
		    }
		    .item-tech{
		    	background-color: rgba(0, 0, 0, 0.95);
		    	width: auto;
		    	border-radius: 20px;
		    	left: 0;
		    	z-index: 20;

		    }
		}
	}

}

@media(max-width: 620px){
	.section1{
		min-height: 1700px;
	}
	.content-page{
		.skills{
			ul{
				width: 80%;
				display: block;
				margin: -24px auto 0px auto;

			    li{
			    	border-radius: 50px;
					display: block;
					width: 150px;
					margin: 0px auto 10px auto;
					&:hover{
						&:before{
						    line-height: 60px;
						    font-size: 13px;
						    white-space: nowrap;
						}
					}
					
				}
			}
		}
	}
	.page-middle{
		margin-top: 0px;
		padding-top: 0px;
	}
}
@media(max-width: $breakPointTelephone){
	.logo{
		width: 60px;
		height: 60px;
	}
	.logo-name{
		display: none;
	}
	.navbar{
		ul{
			width: 130px;
		}
	}
	.page-middle{
		.flex-container{
			.flex-item {
				    width: 100%;
			}
		}
	}  

}
