/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, img, i, ul, li, form, label,
article, figure, figcaption, footer, header,
menu, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, figcaption, figure,
footer, header, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100%;
  width: 100%;
  font-family: 'Gentium Basic', serif;
}

ol, ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  font-weight: lighter;
}

h1 span {
  color: #021e2f;
}

article {
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  padding: 10px;
}

article p {
  margin: 20px auto;
  max-width: 800px;
  line-height: 28px;
  text-align: justify;
  font-size: 18px;
  color: #000000;
}

.logo {
  position: absolute;
  margin: 20px;
  width: 80px;
  height: 80px;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
}

.logo-name {
  position: absolute;
  top: 50px;
  left: 120px;
  font-size: 20px;
  font-family: 'Neuton', serif;
  font-weight: lighter;
  color: #021e2f;
  line-height: 12px;
}

.navbar {
  position: absolute;
  margin: 0 auto;
  display: block;
  width: 100%;
  z-index: 10;
}

.navbar ul {
  position: relative;
  top: 50px;
  font-size: 20px;
  float: right;
  display: flex;
}

.navbar ul a {
  float: right;
  margin-left: 30px;
  color: #0C2032;
}

.navbar ul a:last-child {
  margin-right: 30px;
}

.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
}

.nav-fixed {
  background: rgba(23, 22, 26, 0.95);
  min-height: 67px;
  transition: .5s background linear;
}

.nav-fixed .logo {
  display: none;
}

.nav-fixed .logo-name {
  left: 20px;
  top: 13px !important;
  padding: 10px;
  border: 1px solid #828283;
  border-radius: 50px;
  font-family: 'Neuton', serif;
  font-weight: lighter;
  line-height: 20px;
}

.nav-fixed .logo-name:hover {
  border: 1px solid #049bf6;
  -webkit-transition: border-color 1s ease;
  -moz-transition: border-color 1s ease;
  -o-transition: border-color 1s ease;
  -ms-transition: border-color 1s ease;
  transition: border-color 1s ease;
}

.nav-fixed a {
  color: #ffffff !important;
}

.nav-fixed ul {
  line-height: 32px !important;
}

.position-fixed {
  top: 20px !important;
}

.starting-page {
  background: url(../img/background-first.jpg) bottom no-repeat;
  background-size: cover;
  height: 100vh;
  z-index: 10;
}

.starting-page:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.starting-page .heading {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2em;
  z-index: 10;
  text-align: center;
  width: 80%;
}

main {
  background: url(../img/3in1v2.png) top no-repeat;
  background-size: cover;
}

.content-page {
  min-height: 100vh;
}

.content-page article {
  position: relative;
  top: 380px;
  width: 100%;
  margin: 0 auto;
}

.content-page .skills {
  position: relative;
  width: 100%;
  top: 390px;
  margin-right: auto;
  margin-left: auto;
}

.content-page .skills ul {
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.content-page .skills ul li {
  border-radius: 50px;
  background-color: rgba(220, 220, 220, 0.3);
  position: relative;
  top: 20px;
  display: inline-block;
  list-style: none;
  padding: 20px;
  margin-left: 20px;
  filter: grayscale(100%) blur(2px);
}

.content-page .skills ul li:hover {
  filter: grayscale(0%);
  background-color: rgba(220, 220, 220, 0.8);
}

.content-page .skills ul li:hover:before {
  content: attr(data-tooltip);
  width: 100%;
  font-size: 15px;
  line-height: 1.5em;
  padding: 15px;
  border-radius: 80px;
  background-color: rgba(220, 220, 220, 0.8);
  position: absolute;
  top: 94px;
  left: -17px;
}

.content-page .skills ul li:first-child {
  margin-left: 0px;
}

.page-middle {
  min-height: 100vh;
  padding-top: 300px;
}

.page-middle h1 {
  color: #ffffff;
}

.page-middle .flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.page-middle .flex-container:after {
  content: "";
  display: block;
  clear: both;
}

.page-middle .flex-container .flex-item {
  padding: 5px;
  width: 200px;
  height: 200px;
  margin: 60px 35px 30px 35px;
  line-height: 150px;
  font-weight: lighter;
  font-size: 30px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.15);
  border-radius: 180px;
}

.page-middle .flex-container .item-2 {
  opacity: 1;
  transition: opacity .5s ease;
}

.page-middle .flex-container .item-2 img {
  border-radius: 180px;
  width: 100%;
  height: 100%;
}

.page-middle .flex-container .item-2:hover {
  opacity: 0;
}

.page-middle .overlay {
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
}

.transition {
  width: 100%;
  height: 10vh;
  background-color: #002a76;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#002a76, endColorstr=#012476);
  background-image: -moz-linear-gradient(top, #002a76 0%, #012476 100%);
  background-image: -webkit-linear-gradient(top, #002a76 0%, #012476 100%);
  background-image: -ms-linear-gradient(top, #002a76 0%, #012476 100%);
  background-image: linear-gradient(top, #002a76 0%, #012476 100%);
  background-image: -o-linear-gradient(top, #002a76 0%, #012476 100%);
  background-image: -webkit-gradient(linear, right top, right bottom, color-stop(0%, #002a76), color-stop(100%, #012476));
}

.contact:after {
  content: "";
  display: block;
  clear: both;
}

@-webkit-keyframes myfirst {
  0% {
    margin-left: -235px;
  }
  90% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

@keyframes myfirst {
  0% {
    margin-left: -235px;
  }
  70% {
    margin-left: 100%;
  }
  100% {
    margin-left: 100%;
  }
}

.contact .fish {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/fish.png");
  width: 235px;
  height: 104px;
  margin-left: -235px;
  position: relative;
  animation: myfirst 24s;
  -webkit-animation: myfirst 24s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-timing-function: linear;
}

.contact #fish {
  top: 120px;
}

.contact #fish2 {
  top: 260px;
  animation-delay: 12s;
  -webkit-animation-delay: 12s;
}

.contact #form {
  min-height: 100vh;
  height: 100%;
  background-image: transparent;
  overflow: hidden;
  position: relative;
  margin-bottom: 150px;
}

.contact form {
  margin: -230px auto 0 auto;
  width: 500px;
  padding-top: 40px;
  color: white;
  position: relative;
}

.contact label, .contact input, .contact textarea {
  display: block;
}

.contact input, .contact textarea {
  background-color: transparent;
  width: 500px;
  border: none;
  border-radius: 20px;
  outline: none;
  padding: 10px;
  font-family: 'Neuton', serif;
  font-size: 20px;
  color: #d3d3e2;
  transition: border 0.5s;
  -webkit-transition: border 0.5s;
  -moz-transition: border 0.5s;
  -o-transition: border 0.5s;
  border: solid 1px #01358b;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.contact input:focus, .contact textarea:focus {
  border: solid 1px #77bde0;
}

.contact textarea {
  height: 100px;
  resize: none;
  overflow: auto;
}

.contact input[type="submit"] {
  background-color: #27ae60;
  color: white;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
  font-size: 1.29em;
  font-family: 'Sniglet', cursive;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.contact input[type="submit"]:hover {
  background-color: #2ecc71;
}

.contact label {
  font-size: 1.5em;
  margin-top: 20px;
  padding-left: 20px;
}

.contact .formgroup, .contact .formgroup-active, .contact .formgroup-error {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 10.5%;
  transition: background-image 0.7s;
  -webkit-transition: background-image 0.7s;
  -moz-transition: background-image 0.7s;
  -o-transition: background-image 0.7s;
  width: 566px;
  padding-top: 2px;
}

.contact .formgroup {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/pixel.gif");
}

.contact .formgroup-active {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/octo.png");
}

.contact .formgroup-error {
  background-image: url("http://www.geertjanhendriks.nl/codepen/form/octo-error.png");
  color: red;
}

footer {
  position: relative;
  left: 0px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 10px 0px 100px 40px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 10px 0px 100px 40px rgba(0, 0, 0, 0.8);
  box-shadow: 10px 0px 100px 40px rgba(0, 0, 0, 0.8);
}

footer .social {
  height: 60px;
  padding-top: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

footer .social-icon {
  display: flex;
  width: 164px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -70px;
}

footer .social-icon a:nth-child(2) {
  margin-left: 10px;
  margin-right: 10px;
}

footer .social-icon .git {
  display: block;
  height: 48px;
  width: 48px;
  background: transparent url("../img/git.png") center top no-repeat;
}

footer .social-icon .git:hover {
  background-image: url("../img/git-hover.png");
}

footer .social-icon .facebook {
  display: block;
  height: 48px;
  width: 48px;
  background: transparent url("../img/fb.png") center top no-repeat;
}

footer .social-icon .facebook:hover {
  background-image: url("../img/fb-hover.png");
}

footer .social-icon .linkedin {
  display: block;
  height: 48px;
  width: 48px;
  background: transparent url("../img/in.png") center top no-repeat;
}

footer .social-icon .linkedin:hover {
  background-image: url("../img/in-hover.png");
}

footer .social-icon .icon-transition {
  -o-transition: color .2s ease-out, background 0.2s ease-in;
  -ms-transition: color .2s ease-out, background 0.2s ease-in;
  -moz-transition: color .2s ease-out, background 0.2s ease-in;
  -webkit-transition: color .2s ease-out, background 0.2s ease-in;
  transition: color .2s ease-out, background 0.2s ease-in;
}

footer p {
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  .logo {
    z-index: 30;
  }
  .logo-fixed {
    position: fixed;
  }
  .hamburger-nav {
    display: block;
  }
  #nav-icon {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 43px;
    right: 43px;
    z-index: 20;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #021e2f;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #nav-icon span:nth-child(1) {
    top: 0px;
  }
  #nav-icon span:nth-child(2) {
    top: 12px;
  }
  #nav-icon span:nth-child(3) {
    top: 24px;
  }
  #nav-icon.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  #nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }
  #nav-icon.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
  .nav-icon-fixed {
    position: fixed !important;
  }
  .nav-fixed {
    background: none;
  }
  .navbar {
    display: none;
    background-color: #ecf0f1;
    z-index: 20;
    -webkit-box-shadow: 0px 0px 70px 50px #ecf0f1;
    -moz-box-shadow: 0px 0px 70px 50px #ecf0f1;
    box-shadow: 0px 0px 70px 50px #ecf0f1;
  }
  .navbar ul {
    margin: 50px auto;
    width: 180px;
    position: relative;
    top: 0px;
    display: block;
    float: none;
  }
  .navbar ul li {
    margin-top: 30px;
    border-bottom: 1px solid #dcdcdc;
  }
  .navbar ul a {
    display: block;
    text-align: center;
    float: none;
    margin-left: 0px;
  }
  .navbar ul a:last-child {
    margin-right: 0px;
  }
  .flex-container {
    align-items: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .contact form, .contact input, .contact textarea, .contact .formgroup {
    width: 100%;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 35px;
  }
  .logo {
    width: 60px;
    height: 60px;
  }
  .logo-name {
    display: none;
  }
  .navbar ul {
    width: 130px;
  }
}
