body{
	font-family: 'Raleway', sans-serif;
	margin: 0px;
}
body > section{
	padding-top: 50px;
}
h2{
	font-weight: 700;
	font-size: 90px;
}
.jumbotron h2{
	font-size: 60px;
}
h3{
	font-weight: 400;
	font-size: 40px;
}
p, .jumbotron p{
	font-size: 17px;
	font-weight: 400;
}
.btn{
	border-radius: 0px;
	border: none;	
	margin-top: 15px;
	text-transform: uppercase;
	
}
.navbar-default{
	background-color: #fafafc;
	border-color: #ff6033;
}
.text-center{
	text-align:center;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    border-top: 3px solid #ff6033;
    background-color: transparent;
    color: #000000;
}
nav{
	backface-visibility: hidden;
	.container{
		padding: 20px 30px;
		.navbar-brand{
			font-family: 'Pacifico', cursive;
			font-size: 50px;
			color: #262626;
			padding: 10px 0px 0px 15px;
			&:hover{
				color: #000000;
			}
		}
		.navbar-collapse{
			text-align: center;
			ul{
				font-weight: 700;
				font-size: 14px;
				text-transform: uppercase;
				a{
					color: #000000;
					border-top: 3px solid transparent;
					&:hover{
						background-color: #fafafc;
						border-top: 3px solid #ff6033;
					}
				}
			}
		}
	}
}
header{
	background: url('../img/img.jpg') top center no-repeat;
	background-position: 50%;
	min-height: 100vh;
	background-color: #f9f9fb;

	.container{
		.btn{
			margin-bottom: 50px;
			box-shadow: 0px 20px 40px -10px #ff6033;
			background-color: #ff6033;
			&:hover{
				background-color: #ff4011;
			}
		}
		.jumbotron{
			margin: 300px 0px 0px 0px;
			padding: 0px;
			background-color: transparent;
			h2{
				font-size: 60px;
			}
		}
	}
}
.about-us{
	background-color: #00b1b1;
	.container{
		img{
			width: 100%;
			min-width: 240px;
		}
		aside{
			margin-top: 60px;
		}
		.jumbotron{
			background-color: transparent;
			padding-left: 0px;
			padding-right: 0px;
			h2{
				color: #ffffff;
			}
			p{
				color: #ffffff;
			}

		}
	}
}
.services{
	min-height: 790px;
	background-color: #70bfff;
	.container{	
		.flexbox{
			display:flex;
	    	flex-wrap:wrap;
	    	.a{
	    		order: 1;
	    		width: auto;
	    	}
	    	.b{
	    		order: 2;
    		    width: 47%;
				margin-top: -50px;
	    	}
		}
		img{
			width: 100%;
		}
		h2{	
			font-size: 83px;
			text-align: center;
			position: relative;
			top: 325px;
			color: #ffffff;
		}
		.left-panel{
			margin-top: 160px;
		}
		.text-right{
			text-align: right;
		}
		.panel-default{
			border: none;
			box-shadow: 0px 2px 5px 1px #44739a;
		}
		.panel{
			border-radius: 0px;
			text-align: center;
			font-weight: bold;
			font-size: 20px;
			&:after{
				content: '';
				display: block;
				clear: both;
			}
			.panel-body{
				float: left;
				width: 77%;
				padding: 30px; 
			}
		}
		.glyphicon{
			border-left: 1px solid #9d9d9d;
			position: absolute;
			right: 15px;
			padding: 27px 30px;
			top: auto;
			font-size: 34px;
		}
		.big-panel{
			padding: 41px 30px;
		}	
	}
}
.gallery{	
	background-color: #ffe92f;
	.container{
		text-align: center;
		h2{
			padding: 50px 0px 25px 0px;
			margin: 0px;
			text-align: center;
		}
		p{
			margin-bottom: 25px;
		}
		.thumbnail{
			margin-bottom: 30px;
			border: none;
			border-radius: 0px;
			padding: 0;
			background-color: transparent;
		}
		img{
			border: 5px solid #ffffff;
			min-width: auto;
			max-width: auto;
			width: 100%;	
		}
		.gallery5{
			margin-top: 1px;
		}
		.btn{
			margin-bottom: 50px;
			background-color: #5585a2;
			box-shadow: 0px 2px 10px 0px #999999;
			&:hover{
				background-color: #3363a0;
			}
		}
	}
}
.subscribe{
	background: url('../img/subscribe.jpg') top center no-repeat;
	min-height: 500px;
	padding-top: 120px;
	.container{
		p{
			width: 80%;
		}
		input{
			width: 77%;
			height: 55px;
			padding: 10px;
			border: 1px solid #262626;
		}
		.btn{
			margin: -1px 0px 0px 30px;
			height: 55px;
			background-color: #96b92c;
			box-shadow:0px 4px 10px 0px #616161;
			&:hover{
				background-color: #74b70c;
			}
		}
	}
}
.blog{
	background-color: #b07cf7;
	color: #ffffff;
	.container{
		.thumbnail{
			margin-bottom: 30px;
			background-color: transparent;
			border: none;
			border-radius: 0px;
			width: 383px;
			padding: 10px;
		}
		img{
			max-height: 304px;
			min-width: 363px;
		}
		figcaption{
			position: absolute;
		    top: 10px;
			height: 304px;
			opacity: 0;
			width: 363px;
			&:hover{
				opacity: 1;
				background-color: rgba(0, 0, 0, 0);
				background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, (rgba(49, 49, 49, 0.25)), color-stop(100%, rgba(0, 0, 0, 0.94))));
				background-image: -webkit-linear-gradient(rgba(49, 49, 49, 0.25), rgba(0, 0, 0, 0.94));
				background-image: linear-gradient(rgba(49, 49, 49, 0.25), rgba(0, 0, 0, 0.94));
				-webkit-transition: all 0.2s linear;
				-moz-transition: all 0.2s linear;
				transition: all 0.2s linear;
				-webkit-transform: translate3d(0, 0, 0);
			}
		}
		.badge{
			width: 80px;
			white-space: normal;
			font-size: 30px;
			background-color: rgba(0,0,0, 0.5);
			margin: 20px;

		}
		.blog-title{
			font-weight: bold;
			font-size: 20px;
		    margin: 20px;
		    position: absolute;
		    bottom: 40px;
		    left: 0;
		}
		.blog-autor{
			position: absolute;
		    bottom: 0px;
		    left: 0;
		    margin: 20px;
		}
		h2{
			padding: 50px 0px 25px 0px;
		}
		h2, p{
			text-align: center;
		}
		p{
			margin-bottom: 25px;
		}
		.btn{
			background-color: #f72b3b;
			box-shadow: 0px 20px 40px -10px #f72b3b;
			margin-bottom: 50px;
			&:hover{
				background-color: #f50b1b;
			}
		}
	}
}
.contact{
	min-height: 865px;
	background: url('../img/contact.png') bottom center no-repeat;
	background-size: cover;
	.container{
		h2,p{
			text-align: center;
		}
		h2{
			padding-top: 50px;
		}
		p{
			margin-bottom: 45px;
		}
		.panel{
			background-color: transparent;
			border: none;
			box-shadow: none;
		}
		.panel-heading{
			padding: 0px 5px;
			background-color: transparent;
			border: none;
		}
		.panel-body{
			padding: 5px;
		}
		.panel-title{
			font-weight: 700;
		}
		.form-contact{
			margin-top: 45px;
		}
		.btn{
			color: #ffffff;
			background-color: #5585a2;
			box-shadow:  0px 20px 40px -10px #5585a2;
			&:hover{
				background-color: #3363a1;
			}
		}
		input, textarea{
			color: #ffffff;
			background-color: #00c4c4;
			border: none;
			border-left: 5px solid transparent;
			border-radius: 0px;
			opacity: 0.6;
			&:focus{
				opacity: 1;
				border-left: 5px solid #355b82;
			}
		}
		input{
			height: 50px;
		}
		textarea{
			resize: none;
		}
		input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
		    color: #ffffff;
		}
		input:-moz-placeholder, textarea:-moz-placeholder {
		    color: #ffffff;
		}
	}
}
footer{
	min-height: 90px;
	background-color: #262626;
	color: #b9b9b9;
	.container{
		padding-top: 35px;
		div{
			margin-bottom: 30px;
		}
		.copyright{
			text-align: left;
		}
		.autor{
			text-align: right;
			font-size: 12px;
			span{
				color: #ff2b58;
			}
		}
		.logo-footer{
			font-family: 'Pacifico', cursive;
			font-size: 25px;
			text-align: center;
			line-height: 20px;
		}
	}
}
@media (max-width: 1200px) {
	.about-us{
		.container{
			aside{
				margin-top: 10px;
			}
		}
	}
	.services{
		padding-bottom: 100px;
		.container{
			.flexbox{
		    	.a{
		    		order: 2;
		    		width: 50%;
					margin: 0 auto;
		    	}
		    	.b{
		    		order: 1;
		    		width: auto;
		    		margin: -150px auto 50px auto;
		    	}
			}
		}
	}
	.gallery{
		.container{
			img{
				min-width: 200px;
				max-width: 380px;
				width: 100%;			
			}
			.thumbnail{
			    width: auto;
			}
			.big-img{
			}
		}
	}
	.blog{
		.container{
			.thumbnail{
				margin: 0 auto;
			}
		}
	}
	.contact{
		.flexbox{
			display:flex;
	    	flex-wrap:wrap;
	    	.a{
	    		order: 1;
	    		width: 60%;
	    	}
	    	.b{
	    		order: 2;
	    		width: auto;
	    	}
		}
	}
}
@media (max-width: 992px) {
	.jumbotron h2{
		text-align: center;
	}
	header{
		.jumbotron h2{
			text-align: left;
		}
	}
	.about-us{
		.container{
			img{
				display: none;
			}
			aside{
				margin-top: 0px;
			}
		}
	}
	.services{
		.container{
			.flexbox{
		    	.a{
		    		width: auto;
					margin: 0 auto;
		    	}
		    	.b{
		    		width: auto;
		    		margin: 0 auto 50px auto;
		    	}
			}
		}
	}
	.gallery{
		.container{
			figure{
				text-align: center;
				max-width: 420px;
			}
			img{
				width: 100%;
				
			}
		}
	}
	.subscribe{
		.container{
			input{
				width: 81%;
			}
			.btn{
				margin: 30px 0px 80px 0px;
			}
		}
	}
	.blog{
		.container{
			.thumbnail{
				margin: 0 auto;
			}
		}
		
	}
	.contact{
		.flexbox{
	    	.a{
	    		order: 1;

	    	}
	    	.b{
	    		order: 2;

	    	}
		}
	}
	footer{
		.container{
			div{
				margin-bottom: 30px;
			}
			.copyright{
				text-align: center;
			}
			.autor{
				text-align: center;
			}
			.logo-footer{
				text-align: center;	
			}

		}
	}
}
@media (max-width: 768px) {
	h2,.jumbotron h3{
		font-size: 50px;
	}
	h3 {
		font-size: 30px;
	}
	p, .jumbotron p{
		font-size: 13px;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	    border: none;
	    background-color: rgb(38, 38, 38);
	    color: #ffffff;
	}
	nav{
		.container{
			.navbar-collapse{
				ul{	
					a{
						border: none;
						color: #675555;
						&:hover{
							border: none;
							background-color: rgb(38, 38, 38);
							color: #ffffff;
						}
					}	
					
				}
			}
		}
	}
	.services{
		.container{
			.flexbox{
		    	.a{
		    		width: auto;
					margin: 0 auto;
		    	}
		    	.b{
		    		width: auto;
		    		margin: -40px auto 50px auto;
		    	}
			}
		}
	}
	.gallery{
		.container{
			img{
				min-width: 200px;
				max-width: 380px;
				width: 100%;
				
			}
		}
	}
	.subscribe{
		min-height: auto;
		padding-top: 60px;
	}
	.contact{
		.container{
			.flexbox{
	    		.a{
					order: 2;
					width: 100%;
				    margin: 0 auto;
				    text-align: center;
				}
				.b{
					order: 1;
					width: 100%;
				    margin: 0 auto;
				    text-align: center;
				}
			}
			button{
				margin-bottom: 100px;
			}
		}
	}
}
@media (max-width: 470px) {
	.blog{
		.container{
			img{
				min-width: auto;
			}
			.thumbnail{
				width: auto;
			}
			figcaption{
				height: calc(100% - 20px);
			    opacity: 0;
			    width: calc(100% - 50px);
			}
		}
	}  
}
@media (max-width: 423px) {
	.blog{
		.container{
			.badge{
				font-size: 20px;
				width: 50px;
			}
			.blog-title{
				font-size: 15px;
				margin: 0px 0px 2px 20px;
			}
			.blog-autor{
				font-size: 12px;
			}
		}
	}
	.services{	
		.container{	
			h2{
				font-size: 50px;
				position: relative;
			    top: 253px;
			    margin-top: -30px;
			}
			.big-panel{
				padding: 55px 30px;
			}
		}
	}
}	
@media (max-width: 362px) {
	.services{	
		.container{	
			h2{
				top: 211px;
			}
			.glyphicon{
				padding: 23px 30px;
			}
			.big-panel{
				padding: 43px 30px;
			}
			.panel{
				font-size: 14px;
				.panel-body{
					width: 67%;
					padding: 30px 30px 30px 1px;
				}
			}
			
		}
	}
}