body{
 
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
    overflow-x: hidden;
}
h1{
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;

	
}
.h1-articles{
	color:#021e2f;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
a{
	text-decoration: none;
}
article{
	margin-right: auto;
	margin-left: auto;
	width: 80%;
	padding: 10px;
}
article p{
	margin: 20px auto;
	line-height: 28px;
    text-align: justify;
    font-size: 18px;
    color: #000000;
}
.clear{
	clear: both;
}
.navbar{
	position: absolute;
	width: 100%;
	margin: 0 auto;
	z-index: 10;
}
.logo{
	position: absolute;
	margin: 20px;
	width: 80px;
	height: 80px;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
}
.logo-name{
	position: absolute;
	top:50px;
	left: 120px;
	font-size: 20px;
    color: #021e2f;
    line-height: 12px;
}
nav{
	width: 100%;
    min-height: 120px;

}
.navbar nav ul{
	position: relative;
	top: 50px;
	font-size: 20px;
	float: right;
	display: flex;
}
.nav-link{
	float: right;
	margin-left:30px;
	color: #0C2032;
}
.nav-link:last-child{
	margin-right: 30px;
}
.landing-page{
	background: url(../img/background-first.jpg) bottom no-repeat;
	background-size: cover;
	height: 100vh;
	z-index: 10;
}
.landing-page::after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.2);
	z-index: 5;

}
.heading{
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	color: #ffffff;
	font-size: 2em;
	z-index: 10;
	text-align: center;
    width: 80%;
}
.welcome{
	color: #021e2f;
}
.landing-page-2{
	background: url(../img/background-second.jpg) top no-repeat;
	background-size: cover;
	height: 1750px;
}
.page-upper-middle{
	position: relative;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -50%);
}
.page-middle{
	position: relative;
	left: 50%;
	top: 46%;
	transform: translate(-50%, -50%);
}
.page-under-middle{
	position: relative;
	left: 50%;
	top: 28%;
	transform: translate(-50%, -50%);
}


.gradient{
background: -moz-linear-gradient(90deg, rgba(191,209,230,1) 0%, rgba(62,123,188,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(62,123,188,1)), color-stop(100%, rgba(191,209,230,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(90deg, rgba(191,209,230,1) 0%, rgba(62,123,188,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(90deg, rgba(191,209,230,1) 0%, rgba(62,123,188,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(90deg, rgba(191,209,230,1) 0%, rgba(62,123,188,1) 100%); /* ie10+ */
background: linear-gradient(0deg, rgba(191,209,230,1) 0%, rgba(62,123,188,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e7bbc', endColorstr='#bfd1e6',GradientType=0 ); /* ie6-9 */
}


article p{
	max-width: 800px;
	margin: 20px auto;
	line-height: 28px;
    text-align: justify;
    font-size: 18px;
    color: #000000;
}


.flex-container{
	margin-top: 50px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-flex-pack: center;

}
.flex-item {
    padding: 5px;
    width: 200px;
    height: 150px;
    margin: 20px auto;
    line-height: 150px;
    font-weight: lighter;
    font-size: 30px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
}

.projects-item{
	border: 1px solid #dcdcdc;
	width: 30%;
	float: left;
	margin: 20px;
}
.transition{
	width:100%;
	height: 10vh;
	background-color:#002a76;
	filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#002a76, endColorstr=#012476);
	background-image:-moz-linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:-webkit-linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:-ms-linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:-o-linear-gradient(top, #002a76 0%, #012476 100%);
	background-image:-webkit-gradient(linear, right top, right bottom, color-stop(0%,#002a76), color-stop(100%,#012476));
}
.page-contact{
	position: relative;
    left: 50%;
	transform: translate(-50%, -25%);
    width: 420px; 
    padding: 30px;
    background: rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);

}
.page-contact h1{
	color: #d2f6fe;
}
.contact .page-contact form{
	display: inline-block;
}
.contact .page-contact div{
	margin: 30px auto;
}
.contact .page-contact label{
	color: #ffffff;
	text-transform: uppercase;
	line-height: 37px;
}
.contact .page-contact textarea,
.contact .page-contact input{
	font-family: 'Playfair Display', serif;
	color: #ffffff;
    font-size: 16px;
}
.contact .page-contact input{
	padding: 10px;
	border: 1px solid #01358b;
	background: transparent;
	float: right;


}
.contact .page-contact .submit{
	padding: 10px;
	margin-top: -20px;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
    background-color: #60b044;
    background-image: -webkit-linear-gradient(#8add6d, #60b044);
    background-image: linear-gradient(#8add6d, #60b044);
    border-color: #5ca941;
}
.contact .page-contact .textarea-contact{
	width: 400px;
	height: 200px;
	padding: 10px;
	border: 1px solid #01358b;
	background: transparent;
	resize: none;
	color: #ffffff;
}
.contact .page-contact .textarea-contact:focus,
.contact .page-contact input:focus{
	border: 1px solid #01e3f6;

}



.submit:focus{
	outline: 0!important;
	border: 0!important;
}







footer{
	background: url(../img/footer222.png) top no-repeat;
	background-size: cover;

}
.footer {
   position:relative;
   left:0px;
   width:100%;
   background-color:rgba(0,0,0,0.7);
   -webkit-box-shadow: 10px 0px 100px 40px rgba(0,0,0,0.8);
    -moz-box-shadow: 10px 0px 100px 40px rgba(0,0,0,0.8);
    box-shadow: 10px 0px 100px 40px rgba(0,0,0,0.8);
}
.footer::after{
  content: "";
  transform: skewY(-10deg);
  width: 100%;
  position: relative;
}
.social{    
	height: 60px;
    padding-top: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.social-icon{
	text-align: center;
    font-size: 40px;
    margin-top: -50px;
}
.social-icon a{
	margin-left: 15px;
}


i.fa.fa-github{
	color: #ffffff;
}
i.fa.fa-github:hover{
	color: #4078c0;
}


i.fa.fa-linkedin-square{
	color: #1060a6;
}
i.fa.fa-linkedin-square:hover{
	color: #0b2b5c;
}


i.fa.fa-facebook-official{
	color: #ffffff;
}
i.fa.fa-facebook-official:hover{
	color: #4a65a0;
}



@media only screen and (max-width : 720px){
	.heading h1{
	    font-size: 30px;
	} 
}